<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
    <link rel='stylesheet' href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/template/css/bootstrap.css">
    <link rel="stylesheet" href="/template/css/style.css">
    <link rel="stylesheet" href="/template/css/homepage.css">

    <title>Homepage</title>
  </head>
  <body>
    <div class="bg">
      <div class = "container">
        <div class = "centre">
          <nav class="navbar navbar-inverse">
            <form class = "navbar-form navbar-right">
              <h1 class="text-warning"> The <span class = "strong"> ONLY </span> way to find a service</h1>
                <div class = "input-group">
                  <input type = "text" class = "form-control" placeholder= "Search"/>
                    <span class="input-group-addon"></span>
                      <button type = "submit" class = "btn btn-danger">    Search   </button>
                </div>
            </form>
          </nav>
        </div>
      </div>
    </div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="/template/js/jquery.min.js"></script>
    <script src="/template/js/popper.min.js"></script>
    <script src="/template/js/bootstrap.min.js"></script>

  </body>
</html>
