<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.9/css/all.css" integrity="sha384-5SOiIsAziJl6AWe0HWRKTXlfcSHKmYV4RBF18PPJ173Kzn7jzMyFuTtk8JA7QQG1" crossorigin="anonymous">
    <link rel="stylesheet" href="/template/css/bootstrap.css">
    <link rel="stylesheet" href="/template/css/style.css">
    <link rel="stylesheet" href="/template/css/homepage.css">
    <link rel="stylesheet" href="/template/css/profileCard.css">

    <title>Homepage</title>
  </head>
  <body>
    <div class="header">
      <div class ="container">
        <div class="row">
          <nav class="navbar navbar-expand-md navbar-light">
            <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <a class="navbar-brand" href="#">
              <img class="logo" src="/template/assets/logo.svg" alt="logo">
            </a>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
              <ul class="navbar-nav ml-auto">
                <li class="nav-item active">
                  <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#">Link</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#">Link</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#">Link</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#">Link</a>
                </li>
              </ul>
            </div>
          </nav>
        </div>
      </div>
    </div>

    <div class = "container-fluid">

  <div class = "row justify-content-center profile-bottom profile-container__pad" style="height:60px">
    <div class="bs-calltoaction bs-calltoaction-default ">
      <h3 class = "profile-pad"> Hello my name is Harrison <a href="#" class="btn m-0 btn-danger btn-md">MESSAGE ME</a></h3>

    </div>
  </div>
</div>
    <div class = "container">
    <div class = "row profile-container__pad">
      <div class = "col-lg-3 col-md-2 col-sm-6 col-xs-12 ">
      <!--  <img src="/template/assets/pp.jpg" class="rounded-circle" alt="Profile" width="200" height="200">-->
        <div class = "text-left">
          <div class="card profile-card__style">
            <img class="card-img-top" src="/template/assets/pp.jpg" alt="Card image cap">
                <p class = "profile-card__text" > <i class = "fas fa-map-marker"></i> <span> Bristol </span></p>
                <div class = "profile-card__stars">
                  <i class = "fas fa-star"></i>
                  <i class = "fas fa-star"></i>
                  <i class = "fas fa-star"></i>
                  <i class = "fas fa-star"></i>
                  <i class = "far fa-star"></i>
                  <p> <span class = "profile__review-count">(30 Reviews)</span> </p>
                </div>
                <div class="text-center">
                  <a href="#" class="btn btn-danger btn-md">MESSAGE ME</a>
                </div>
            </div>
          </div>
        </div>
        <div class = "col-lg-7 col-md-8 col-sm-0 col-xs-12 "><div class = "text-left">
          <h3 class = "profile__title">Harrison B</h3>
          <p>
            Russell Group educated graduate with a predicted MSc Distinction from the
            University of Bristol in Computer Science. Currently in possession of a
            First-Class BSc in Neuroscience from King's College London. Experienced with
            working in multidisciplinary teams to understand complex challenges using a
            systematic evidence-based approach. Self-motivated, driven, and capable of working
            both independently and as part of a team. Good background in statistics
            with the ability to analyse and critically evaluate data.
            Flexible self-starter with the ability to challenge assumptions using
            both conventional and abstract reasoning. Articulate with excellent communication skills.
          </p>
        </div>
      </div>
      <div class = "profile-column3__border">
        <div class = "col-lg-1 col-md-2 col-sm-6 col-xs-12 "><div class = "text-center"><h3>£50.00</h3></div></div>
    </div>
  </div>
  </div>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="/template/js/jquery.min.js"></script>
    <script src="/template/js/popper.min.js"></script>
    <script src="/template/js/bootstrap.min.js"></script>

  </body>
</html>
