/**
  * General styling
  * and bootstrap overrides
  */
html, body {
  height: 100% !important;
  background-color: #f1f1f1 !important; }

.wrapper {
  min-height: 100%;
  padding-top: 20px;
  padding-bottom: 20px; }

header {
  background-color: #ffffff;
  padding-top: 10px;
  padding-bottom: 10px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.14);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24); }

.logo {
  height: 50px; }

.navbar {
  width: 100%;
  background: none !important; }

.nav-link {
  text-transform: capitalize;
  font-weight: bold; }

footer {
  clear: both;
  background-color: #a5a5a5; }

.footer__main {
  padding: 20px; }

.footer__copyright-block {
  background-color: #7d7d7d; }

.footer__copyright-text {
  margin: 1rem 0 !important; }

.footer__logo {
  height: 100px; }

.form-check-input {
  margin-left: 0 !important; }
