header {
  background-color: #f39c12;
  padding-top: 10px;
  padding-bottom: 10px; }

.navbar {
  width: 100%;
  background: none !important; }

.nav-link {
  text-transform: capitalize;
  font-weight: bold; }

.logo {
  height: 50px; }

footer {
  background-color: #2c3e50; }

.footer__main {
  padding: 20px; }

.footer__copyright-block {
  background-color: #7f8c8d; }

.footer__copyright-text {
  margin: 1rem 0 !important; }
