.header {
  background-color: #f39c12;
  padding-top: 15px;
  padding-bottom: 15px;
}

.navbar {
  width:100%;
  background: none !important;
}

.nav-link {
  text-transform: capitalize;
  font-weight:bold;
}

.logo {
  height: 50px;
}
