.profile-card__stars {
  color: #f8be15;
  text-align: center; }

.profile-card__style {
  margin: auto; }

.profile__title {
  color: #5bc0de; }

.profile__review-count {
  color: #000000; }

.profile-card__title {
  color: #5bc0de;
  font-size: 2rem;
  text-align: center; }

.profile-card__text {
  color: #5bc0de;
  text-align: center; }
