/**
  *  Profile style
  */

.profile-button__position {
  padding: 10px 21px 10px 21px;
  border-radius: 1px;
  border-color: transparent;
}

.profile-container__pad {
  padding: 15px;
}

.profile-pad {
  padding-right: 70px;
}

.profile-bottom {
  border-bottom: 1px solid #ccc;
}

.profile-column3__border {
  border-left: 1px solid #ccc;
}
.profile-card__stars {
  color: #f8be15;
  text-align: center;
}

.profile-card__style {
  margin: auto;
  padding: 10px;
}
.profile__title {
}

.profile__review-count {
  color: #000000;
}

.profile-card__title {
  color: #5bc0de;
  font-size: 2rem;
  text-align: center;
}

.profile-card__text {
  color: #5bc0de;
  text-align: center;
}
